<!DOCTYPE html>
<html>

  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <style type="text/css">
    body {
      font-family: 'Raleway';
    }
    .picture {
      border-radius: 50%;
      height: 100px; 
    }
  </style>
<body>
  <div class="d-flex align-items-center" style="margin-top: 3em">
    <div class="text-center" style="margin-left: 3em">
      <img class="picture" src="https://www.asklepios.com/.imaging/mte/asklepios/carouselTeaserItem_592/profiles/3529/photo/img_3529.jpg"></img>
    </div>
    <div style="margin-left: 3em">
      <div>
        <span>Prof. Dr</span>
        <span><b>Joachim Röther</b></span>
      <div>
        <div>
          <span>+49 40 1818811401 |</span>
          <span>
            <a href="mailto:info.altona@asklepios.com" style="word-break: break-all;">info.altona@asklepios.com</a>
          </span>
        <div>
    </div>
  </div>


</body> 
</html>
